html {
    font-family: sans-serif;
    color: #222;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
    color: #444;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
    background: #f4d291;
    color: #000;
    text-shadow: none;
}

::selection {
    background: #f4d291;
    color: #000;
    text-shadow: none;
}

strong {
    font-weight: bold;
}

ul {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

h1 {
    margin-bottom: 2px;
    text-align: center;
}

h2 {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

p {
    text-align: center;
}

span, a, a:active, a:hover, a:visited {
    color: #286bda;
    text-decoration: none;
}

.me {
    border-radius: 80px;
    display: block;
    margin: 0 auto;
    max-width: 150px;
}

.box {
    margin: 60px auto 0;
    width: 100%;
}

.social-stuff {
    margin: 20px auto;
    padding: 0;
    max-width: 360px;
}

.social-stuff li {
    list-style-type: none;
}









