html {
    font-family: Arial;
    color: #222;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
    color: #444;
    font-family: Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
    background: #f4d291;
    color: #000;
    text-shadow: none;
}

::selection {
    background: #f4d291;
    color: #000;
    text-shadow: none;
}

strong {
    font-weight: bold;
}

ul {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

h1 {
    margin-bottom: 2px;
    text-align: center;
    font-size: 42px;
    padding: 0 0 3px;
}

h2 {
    margin: 0;
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    color: grey;
    padding: 0 0 3px;
}

p {
    text-align: center;
}

span, a, a:active, a:hover, a:visited {
    color: #286bda;
    text-decoration: none;
}

.me {
    border-radius: 80px;
    display: block;
    margin: 0 auto;
    max-width: 150px;
}

.box {
    margin: 80px auto 0;
    width: 100%;
}

.social {
    margin: 20px auto;
    max-width: 360px;
    padding: 0 0 3px;
}

.other {
    padding: 0 0 10px;
}

hr {
    width: 500px;
    color: lightgrey;
    background: lightgrey;
    border: 0;
    height: 1px
}

.footer {
    color: lightgrey;
    font-size: 14px;
    padding: 5px 0 0;
}

.statement-of-intent {
    margin: 20px auto;
    max-width: 600px;
}

