html {
    font-family: Arial, sans-serif;
}

/* For desktop: */
body {
    margin: 0;
    padding: 0;
}

.outer-box {
    width: 600px;
    margin: 40px auto;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

.me {
    border-radius: 80px;
    display: block;
    margin: 0 auto;
    max-width: 150px;
}

.full-name {
    margin-bottom: 2px;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    padding: 0 0 10px;
}

.description {
    margin: 0;
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    color: grey;
    padding: 0 0 3px;
}

span, a, a:active, a:hover, a:visited {
    color: #286bda;
    text-decoration: none;
}

.social {
    margin: 20px auto;
    max-width: 360px;
    padding: 0 0 3px;
    text-align: center;
}

.other {
    padding: 0 0 10px;
    text-align: center;
}

hr {
    width: 90%;
    color: lightgrey;
    background: lightgrey;
    border: 0;
    height: 1px
}

.footer {
    color: lightgrey;
    font-size: 14px;
    padding: 5px 0 0;
    text-align: center;
}

.statement-of-intent {
    margin: 20px auto;
    max-width: 600px;
}


/* For mobile phones: */
@media only screen and (max-width: 728px) {
    .full-name {
        font-size: 36px;
    }
    .outer-box {
        width: 90%;
        margin: 40px auto;
    }
}